In [1]:
import pandas as pd

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [3]:
d

{'col1': [1, 2], 'col2': [3, 4]}

In [4]:
df = pd.DataFrame(data=d)

In [5]:
df

   col1  col2
0     1     3
1     2     4

In [6]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [7]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [8]:
df.astype({'col1': 'int32'}).dtypes

col1    int32
col2    int64
dtype: object

In [9]:
ser = pd.Series([1, 2], dtype='int32')

In [10]:
ser

0    1
1    2
dtype: int32

In [11]:
ser.astype('int64')

0    1
1    2
dtype: int64

In [12]:
ser.astype('category')

0    1
1    2
dtype: category
Categories (2, int64): [1, 2]